		<footer>
			<!-- views/partials/footer.ejs -->
			<p class="text-center text-muted">© Copyright 2017 S.J. Kim and Conor Quinn</p>
		</footer>

	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script>
		var socket = io.connect("https://localhost:3000");

	</script>


</html>

