		<footer>
			<!-- views/partials/footer.ejs -->
			<p class="text-center text-muted">© Copyright 2017 S.J. Kim</p>
		</footer>

	</body>

	<script src="https://cdn.socket.io/stable/socket.io.js"></script>
	<script>
		var socket = io.connect("https://localhost:3000");

	</script>


</html>

