<!DOCTYPE html>
	<html lang="en">
		<head>
			<!-- views/partials/head.ejs -->
			<meta charset="UTF-8">
			<title>Block.js</title>

			<!-- CSS (load bootstrap from a CDN) -->
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<style>
			    body    { padding-top:50px; }
			</style>
		</head>

		<!-- Navbar -->
		<% include header %>
		
		<body class="container">


