<div class="container" style="padding-top: 50px">
    <div class="jumbotron">
        <h1><i class="fa fa-link fa-large mr-2" aria-hidden="true"></i>Block.js</h1>
        <p>Welcome to Block.js, a distributed client-side Monero miner. Rather than using ads, this website generates revenue by using your browser to mine Monero! To enter the website, you must consent to allowing your browser to be used to run mining tasks in the background.</p>
        <b>If you've been redirected to this page from another part of the website, it's because your client side miner was turned off or disabled. Clicking the button below will restart your client-side miner and grant you access again.</b>
        <br><br>
        <button ng-click="enterAuth()" type="button" class="btn btn-primary btn-lg btn-block">Enter</button>
    </div>
</div>