<div class="container" style="padding-top: 50px">
    <div class="jumbotron">
        <h1>Block.js</h1>
        <p>Welcome to Block.js, a distributed client-side Monero miner. Rather than using ads, this website generates revenue by using your browser to mine Monero! To enter the website, you must consent to allowing your browser to be used to run mining tasks in the background.</p>
        <br>
        <button ng-click="enterAuth()" type="button" class="btn btn-primary btn-lg btn-block">Enter</button>
    </div>
</div>