<!-- views/pages/index.ejs -->
<% include partials/head %>

<!-- Navbar -->
<% include partials/header %>

<main>
    <div class="jumbotron">
        <h3>Boilerplate code</h3>
        <p>Visit our <a href="https://github.com/sjkim1995/block.js"> github repository</a> to get up and running with a Node.js boilerplate.</p>
    </div>
</main>

<% include partials/footer %>

