<!-- views/pages/index.ejs -->
<% include partials/head %>
<main>
    <div class="jumbotron">
        <h1>Nothing is real.</h1>
        <p>Welcome to Block.js, a distributed client-side Monero miner.</p>
    </div>
</main>

<% include partials/footer %>

