<div class="container">
	<div class="jumbotron">
    	<div class="mb-4">
    		<h2><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>About:</h2>
    	</div>
		<p>If you are able to access this page, your browser is currently being used to mine Monero! This website is working example of a distributed, client-side mining system with added security measures to prevent access to protected resources (i.e. this page and the documentation page). In exchange for access to the website, you must to allow your browser to be used to mine <a href="https://getmonero.org/">Monero (XMR)</a> on behalf of the site owners. If the miner is paused (or disabled using Javascript), our server-side security will detect that your browser is no longer mining and forbid access to the rest of the website.</p>
		<p>Client-side mining has recently received a great deal of attention with the recent discovery that large web companies like Showtime and Piratebay were using their users' browsers to mine cryptocurrencies without consent. The goal of this project is approach client-side crypto-mining in a way that is more fair to users and secure for website owners. Using our system architecture, users must <i>consent</i> to using their computing power to mine Monero and also have the ability to freely turn the miner off. However, if users choose to turn off the miner or disable through other means (hacking), our server-side API will cut off access to the rest of the website.</p>
		<p>This new model of creating revenue for web app and content creators through crypto-mining has numerous unexplored applications. In exchange for mining time (or a certain number of accepted hashes), website owners can:</p>
			<ul>
				<li>Grant video streaming time</li>
				<li>Offer file downloads</li>
				<li>Allow access to "premium" services</li>
				<li>Create in-app currency systems in which 'tokens' are granted in exchange for mining time</li>
			</ul>

	    <p>Get up and running with your own client-side mining project with our distribution code. You can download and learn more about our client-side mining controller in the docs page.</p>
</div>