<div class="container">
	<h1 class="mb-2">Documentation:</h1>
	<div class="jumbotron">
	    <h3><i class="fa fa-github mr-2" aria-hidden="true"></i>Boilerplate code:</h3>
	    <p>Visit our <a href="https://github.com/sjkim1995/block.js"> github repository</a> to get up and running with a Node.js boilerplate. This is an open-source project and we welcome you to submit any and all comments, questions, and pull requests.</p>
          <p>If you want to get up an running with a LEAN, barebones, single-page web-application with client-side mining and server-side mining verification, clone the repository and follow the install instructions below. Cloning this boilerplate, following the instructions below, and running the application produces a copy of this website. Following our installation guide requires that you have homebrew installed:</p> 

      <h6>1. Installing Node.js and NPM:</h6>
      <xmp>
      brew update
      brew install node
      sudo npm install npm -g
      </xmp>
      <h6>2. Installing dependencies:</h6>
      <xmp>
      npm install
      </xmp>
      <h6>3. Run the Node.js application:</h6>
      <xmp>
      npm run dev
      </xmp>
      <h6>4. Visit the locally running application:</h6>
      <xmp>
      http://localhost:3000      
      </xmp>


            <h3><i class="fa fa-code mr-2" aria-hidden="true"></i>API: </h3>
            <div>
            <p>This repository also has a standalone client-side mining controller file in <b>/dist/ClientMiner.js</b>. This script provides a constructor function for a javascript client-side miner that you can instantiate with:</p>
            <xmp>
            var miner = new ClientMiner();
            </xmp>
            <p>You can include the standalone script in a project and begin using the methods on the ClientMiner() constructor right out of the box, but you must include the following script before including the ClientMiner.js file:</p>
            <xmp>
            <script src="https://coinhive.com/lib/coinhive.min.js"></script>
            </xmp>
            <p>
            The ClientMiner.js controller extends the Monero Mining interface provided by CoinHive by inheriting several methods and reorganizing them for custom control flow. Below is our documentation for each of the methods on the ClientMiner constructor:
            </p>
            <h4> miner.getUser() </h4>
            <div class="card pastel-gray-b">
            <p>() => hash <br/> If the miner is set up, returns the hash associated with the current User.</p>
            </div>
            <h4> miner.getStatistics() </h4>
            <div class="card pastel-gray-b">
            <p>() => dict <br/> Returns the current hashes per second, total hashes and accepted hashes associated with a user at the time when the method is called.</p>
            </div>
            <h4> miner.startMining() </h4>
            <div class="card pastel-gray-b">
            <p> () => () <br/> Begins the mining session.</p>
            </div>
            <h4> miner.setMiner() </h4>
            <div class="card pastel-gray-b">
            <p> () => () Instantiates a new user so that a new mining session can begin.</p>
            </div>
            <h4> miner.pauseMiner()</h4>
            <div class="card pastel-gray-b">
            <p> () => () <br/> Stops miner.</p>
            </div>
            <h4>miner.isRunning()</h4>
            <div class="card pastel-gray-b">
            <p>() => () <br/> Checks to see whether miner is currently running.</p>
            </div>
            </div>
	</div>
</div>
